<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuGIs25IMUGYouaS_D3t74OAZ-vZlO6P4</string>
	<key>GCM_SENDER_ID</key>
	<string>921753287732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.localfinance</string>
	<key>PROJECT_ID</key>
	<string>local-finance-d9c27</string>
	<key>STORAGE_BUCKET</key>
	<string>local-finance-d9c27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921753287732:ios:cd1cedd5916cd05655de61</string>
</dict>
</plist>